<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../static/js/elo.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{{.Title}} - Elo CMS</title>

  </head>
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Lato", sans-serif
    }

  nav .nav li a {  /* this changes navlink color to white */
  color: white !important;
  }
  ul.nav a:hover { /* this changes bar color to white and text to black on hover */
    color:black !important; background-color: #ffffff !important; }

    .elo-logo {padding: 0.5rem ;margin-bottom: 0rem; background-color: teal; color:#ffffff}
    .elo-navbar{background-color: teal; color:#ffffff }
    .elo-btn {background-color: teal }
    .elo-txtarea {margin-bottom:0px !important; background-color: #ffffff; color:#020000;}
    .elo-txt {
        padding-top:0.5rem;
        font-family: "Montserrat", sans-serif
    }
    .elo-logo-link { text-decoration: none; color:#ffffff}
    .elo-logo-link:visited { text-decoration: none; color:#ffffff}
    #elo-login-ind {display: none}
    #elo-login-form {display: none}
    .elo-footer {margin-top: 0rem !important;padding: 2rem; color:black;}
    #elo-btn-logout{display: none}
    #elo-btn-acp{display:none}
    .img-fluid{ max-width: 100%; max-height: 30%;}
    </style>
  <body style="background-color: #cccccc;">
<div id="elo-notif-bar" align="center" class="alert alert-dark" style="margin-bottom: 0.3rem; display: none">
  ANNOUNCEMENT</div>

    <!-- Jumbotron with logo and maybe some text -->
<div id="elo-logo" class="jumbotron-fluid elo-logo rounded-top" >
  <a class="elo-logo-link" href="/" style="text-decoration: none"> <center><img src="http://placekitten.com/g/2000/200" class="img-fluid"></center> </a>
</div>

<!-- Container which helds item buttons -->

<nav class="nav-fill elo-navbar rounded-bottom">
  <ul class="nav">
  </ul>
</nav>

<!-- So there should be site with ID1 - -->
<div class="container-fluid elo-txtarea elo-txt">
  <span id="elo-page">  {{.Content}}  </span>
</div>

<p id="elo-login-ind"></p> <button id="elo-btn-logout" class="btn btn-primary" onclick="logout_submit()">Logout</button>
<button type="button" id="elo-btn-acp" class="btn btn-primary" onclick="window.location.href = '/admincp/';" >Admin CP</button>
<form class="form-inline" id="elo-login-form">
  <input class="form-control mb-2 mr-sm-2" id="login_name" placeholder="username">
  <input type="password" class="form-control mb-2 mr-sm-2" id="login_secret" placeholder="password...">
  <button type="button" class="btn btn-primary mb-2 mr-sm-2" onclick="login_submit()">Login</button>
  <i id="targetlogin"></i>
</form>
<div class="container-fluid elo-footer rounded-bottom"><p align="center">Powered by Elo CMS</p></div>

  </body>
</html>