<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../static/js/elo_acp.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Elo softwrks Admin CP</title>

  </head>
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Lato", sans-serif
    }

  nav .nav li a {  /* this changes navlink color to white */
  color: white !important;
  }
  ul.nav a:hover { /* this changes bar color to white and text to black on hover */
    color:black !important; background-color: #ffffff !important; }

    .elo-logo {padding: 0.5rem ;margin-bottom: 0rem; background-color: teal; color:#ffffff}
    .elo-navbar{background-color: teal; color:#ffffff }
    .elo-btn {background-color: teal }
    .elo-txtarea {margin-bottom:0px !important; background-color: #ffffff; color:#020000;}
    .elo-txt {
        font-family: "Montserrat", sans-serif
    }
    .elo-logo-link { text-decoration: none; color:#ffffff}
    .elo-logo-link:visited { text-decoration: none; color:#ffffff}
    #elo-login-ind {display: none}
    #elo-login-form {display: none}
    .elo-footer {margin-top: 0rem !important;padding: 2rem; color:black;}
    #elo-btn-logout{display: none}
   /*  #elo-acp-pages {display: none} */
    .img-fluid{ max-width: 100%; max-height: 30%;}
    </style>
  <body style="background-color: #cccccc;">
<div id="elo-notif-bar" align="center" class="alert alert-dark" style="margin-bottom: 0.3rem; display: none">
  ANNOUNCEMENT</div>

    <!-- Jumbotron with logo and maybe some text -->
<div id="elo-logo" class="jumbotron-fluid elo-logo rounded-top" >
  <a class="elo-logo-link" href="/" style="text-decoration: none"> <center><img src="http://placekitten.com/g/2000/200" class="img-fluid"></center> </a>
</div>

<!-- Container which helds item buttons -->

<nav class="nav-fill elo-navbar rounded-bottom">
  <ul class="nav">
     <li class="nav-item">
      <a class="nav-link " href="#" onclick="window.location.href = '/admincp/pages';">Pages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" onclick="window.location.href = '/admincp/users';">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" onclick="window.location.href = '/admincp/menus';" >Menus</a>
    </li> 
  </ul>
</nav>

<!-- So there should be site with ID1 - -->
<div class="container-fluid elo-txtarea elo-txt">
   <span id="elo-page">  admin area  </span>
   {{if .PagesData}}
   <div class="container-fluid elo-txtarea">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Site</th>
          <th scope="col">Path</th>
          <th scope="col">Permission</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
          {{range .PagesData}}
          <tr>
          <th scope="row">{{.ID}}</th>
          <td>{{.Title}}</td>
          <td>{{.Path}}</td>
          <td>{{if eq .Permission 1}} public 
          {{else if eq .Permission 2}} client 
          {{else if eq .Permission 4}} admin
          {{end}}</td>
          <td>
            <div class="form-inline" >
              <a href="/admincp/pages/edit?id={{.ID}}" class="btn btn-primary" style="margin-right:0.4rem">Edit</a>
            <button type="button" class="btn btn-danger itemdel" data-toggle="modal" data-id="{{.ID}}" data-target="#elo-confirm-delete"> DELETE </button>
          </div>   
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>  
  <form action="/admincp/pages/edit">
<div class="form-group" style="padding-bottom: 0.5rem">
  <button type="submit" class="btn btn-success">Create</button>
</div>
  </form> 
  </div>
    {{end}}

    {{if .UsersData}}
    <div class="container-fluid elo-txtarea">
     <table class="table">
       <thead>
         <tr>
           <th scope="col">#</th>
           <th scope="col">Username</th>
           <th scope="col">Company ID</th>
           <th scope="col">Role</th>
           <th scope="col">Actions</th>
         </tr>
       </thead>
       <tbody>
           {{range .UsersData}}
           <tr>
           <th scope="row">{{.ID}}</th>
           <td>{{.Username}}</td>
           <td>{{.CompanyID}}</td>
           <td>{{if eq .Role 2}} client
             {{else if eq .Role 4}} admin
             {{end}}
           </td>
           <td>
          <div class="form-inline" >
            <a href="/admincp/users/edit?id={{.ID}}" class="btn btn-primary" style="margin-right:0.4rem">Edit</a>
                    <button type="button" class="btn btn-danger itemdel" data-toggle="modal" data-id="{{.ID}}" data-target="#elo-confirm-delete"> DELETE </button>
      </div>    
      </td>
          </tr>
         {{end}}
       </tbody>
     </table>   
     <form action="/admincp/users/edit">
      <div class="form-group" style="padding-bottom: 0.5rem">
      <button type="submit" class="btn btn-success">Create</button>
      </div>
      </form> 
    </div>
     {{end}}

     {{if .MenusData}}
     <div class="container-fluid elo-txtarea">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ParentID</th>
            <th scope="col">Menu label</th>
            <th scope="col">Referral</th>
            <th scope="col">Permission</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {{range .MenusData}}
            <tr>
            <th scope="row">{{.ID}}</th>
            <td>{{.ParentID}}</td>
            <td>{{.Text}}</td>
            <td>{{.Href}}</td>
            <td>{{if eq .Permission 1}} public
              {{else if eq .Permission 2}} client
              {{else if eq .Permission 4}} admin
              {{end}}
            </td>
            <td>
              <div class="form-inline" >
                <a href="/admincp/menus/edit?id={{.ID}}" class="btn btn-primary" style="margin-right:0.4rem">Edit</a>
              <button type="button" class="btn btn-danger itemdel" data-toggle="modal" data-id="{{.ID}}" data-target="#elo-confirm-delete"> DELETE </button>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>   
      <form action="/admincp/menus/edit">
        <div class="form-group" style="padding-bottom: 0.5rem">
        <button type="submit" class="btn btn-success">Create</button>
        </div>
      </form>
    </div>
      {{end}}
  </div>

<p id="elo-login-ind"></p> <button id="elo-btn-logout" class="btn btn-primary" onclick="logout_submit()">Logout</button>
<form class="form-inline" id="elo-login-form">
  <input class="form-control mb-2 mr-sm-2" id="login_name" placeholder="username">
  <input type="password" class="form-control mb-2 mr-sm-2" id="login_secret" placeholder="password...">
  <button type="button" class="btn btn-primary mb-2 mr-sm-2" onclick="login_submit()">Login</button>
  <i id="targetlogin"></i>
</form>
<div class="container-fluid elo-footer rounded-bottom"><p align="center">Copyright 2020 by Elo psz</p></div>

<!-- Modal -->
<div class="modal fade" id="elo-confirm-delete" tabindex="-1" role="dialog" aria-labelledby="elo-confirm-delete-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="elo-confirm-delete-label">DELETE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body" id="itemid"> Are you sure to delete item with ID <span id="itemidtext"></span>?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
        <button type="button" id="delete" onclick="delete_confirm($(this).val());" class="btn btn-danger" data-dismiss="modal" >YES</button> </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="elo-message" tabindex="-1" role="dialog" aria-labelledby="elo-message-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="elo-confirm-deleted-label">Result</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="location.reload()" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>

  </body>
</html>