<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- Main Quill library -->
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

<!-- Theme included stylesheets -->
<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">

<script src="http://localhost:2137/static/js/quill.htmlEditButton.min.js"></script>

<script src="http://localhost:2137/static/js/elo_acp.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Elo softwrks Admin CP</title>

  </head>
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Lato", sans-serif
    }

  nav .nav li a {  /* this changes navlink color to white */
  color: white !important;
  }
  ul.nav a:hover { /* this changes bar color to white and text to black on hover */
    color:black !important; background-color: #ffffff !important; }

    .elo-logo {padding: 0.5rem ;margin-bottom: 0rem; background-color: teal; color:#ffffff}
    .elo-navbar{background-color: teal; color:#ffffff }
    .elo-btn {background-color: teal }
    .elo-txtarea {margin-bottom:0px; padding: 0.5rem !important; background-color: #ffffff; color:#020000;}
    .elo-txt {
        font-family: "Montserrat", sans-serif
    }
    .elo-logo-link { text-decoration: none; color:#ffffff}
    .elo-logo-link:visited { text-decoration: none; color:#ffffff}
    #elo-login-ind {display: none}
    #elo-login-form {display: none}
    .elo-footer {margin-top: 0rem !important;padding: 0.5rem; color:black;}
    #elo-btn-logout{display: none}
   /*  #elo-acp-pages {display: none} */
    .img-fluid{ max-width: 100%; max-height: 30%;}

    #editor {
  height: 375px;
}
    </style>
  <body style="background-color: #cccccc;">
<div id="elo-notif-bar" align="center" class="alert alert-dark" style="margin-bottom: 0.3rem; display: none">
  ANNOUNCEMENT</div>

    <!-- Jumbotron with logo and maybe some text -->
<div id="elo-logo" class="jumbotron-fluid elo-logo rounded-top" >
  <a class="elo-logo-link" href="/" style="text-decoration: none"> <center><img src="http://placekitten.com/g/2000/200" class="img-fluid"></center> </a>
</div>

<!-- Container which helds item buttons -->

<nav class="nav-fill elo-navbar rounded-bottom">
  <ul class="nav">
     <li class="nav-item">
      <a class="nav-link " href="#" onclick="window.location.href = '/admincp/pages';">Pages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" onclick="window.location.href = '/admincp/users';">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" onclick="window.location.href = '/admincp/menus';" >Menus</a>
    </li> 
  </ul>
</nav>

<!-- So there should be site with ID1 - -->
<div class="container-fluid elo-txtarea elo-txt">
   <span id="elo-page">  admin area  </span>
   {{if .PageData}}
<!--    <p>You are editing <i id="sitepath">{{.PageData.Path}}</i></p>
 --><form action="">
  {{if ne .PageData.ID 0}}
  <div class="form-group">
    <label for="elo-edit-id">Site ID</label>
    <input type="text" class="form-control" id="elo-edit-id" value="{{.PageData.ID}}" disabled>
  </div>
  {{end}}
  <div class="form-group">
    <label for="elo-edit-title">Site title</label>
    <input type="text" class="form-control" id="elo-edit-title" aria-describedby="edit-title-help" value="{{.PageData.Title}}" placeholder="Enter title">
    <small id="edit-title-help" class="form-text text-muted">Page title on browser window / tab.</small>
  </div>
  <div class="form-group">
    <label for="elo-edit-path">Site path</label>
    <input type="text" class="form-control" id="elo-edit-path" aria-describedby="edit-title-help" value="{{.PageData.Path}}" placeholder="Enter site path">
    <small id="edit-path-help" class="form-text text-muted">Page path (after /page/)</small>
  </div>
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0" aria-describedby="edit-perm-help">Page Permission</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" id="page-perm-pub" value="1" {{if eq .PageData.Permission 1}} checked {{end}} >
          <label class="form-check-label" for="page-perm-pub">
            Public
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio"  id="page-perm-client" value="2" {{if eq .PageData.Permission 2}} checked {{end}}>
          <label class="form-check-label" for="page-perm-client">
            Client
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="page-perm-operator" value="4" {{if eq .PageData.Permission 4}} checked {{end}}>
          <label class="form-check-label" for="page-perm-operator">
            Admin
          </label>
        </div>
        <small id="edit-perm-help" class="form-text text-muted">Public is visible for everyone, client for both operator and client.</small>

      </div>
    </div>
   <div class="form-group">
<label for="editor">Page Content</label>
   <div id="editor" class="container-fluid">
    {{.PageData.Content}}
   </div>
   </div>
   <script>
      var quill = new Quill('#editor', {
        modules: {
            toolbar: toolbarOptions,
            htmlEditButton: {},
        },
        theme: 'snow'
    });
   </script>
   <div class="form-group">
    <button class="btn btn-primary" onclick="editpage_submit();return false;">Submit</button> <i id="targetsite"></i>
</div>
  </form>


</div>
    {{end}}

    {{if .UserData}}
<form autocomplete="false">
  {{if ne .UserData.ID 0}}
  <div class="form-group">
    <label for="elo-edit-userid">User ID</label>
    <input type="number" class="form-control" id="elo-edit-userid" value="{{.UserData.ID}}" disabled>
  </div>
  {{end}}
  <div class="form-group">
    <label for="elo-edit-username">Username</label>
    <input type="text" class="form-control" id="elo-edit-username" value="{{.UserData.Username}}" >
  </div>
  <div class="form-group">
    <label for="elo-edit-fullname">Full Name</label>
    <input type="text" class="form-control" id="elo-edit-fullname" value="{{.UserData.FullName}}">
  </div>
  <div class="form-group">
    <label for="elo-edit-email">Email</label>
    <input type="email" class="form-control" id="elo-edit-email" value="{{.UserData.Email}}" >
  </div>
  <div class="form-group">
    <label for="elo-edit-phone">Phone Number</label>
    <input type="tel" class="form-control" id="elo-edit-phone" value="{{.UserData.Phone}}" >
  </div>
  <div class="form-group">
    <label for="elo-edit-password"><b>New</b> Password</label>
    <input type="password" class="form-control" id="elo-edit-password" >
  </div>
  <div class="row">
    <legend class="col-form-label col-sm-2 pt-0" aria-describedby="edit-role-help">User Role</legend>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="radio"  id="page-role-client" value="2" {{if eq .UserData.Role 2}} checked {{end}}>
        <label class="form-check-label" for="page-role-client">
          Client
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="page-role-operator" value="4" {{if eq .UserData.Role 4}} checked {{end}}>
        <label class="form-check-label" for="page-role-operator">
          Operator
        </label>
      </div>
      </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" onclick="edituser_submit();return false;">Submit</button> <i id="targetuser"></i>
</div>
</form>
     {{end}}

  {{if .MenusData}}
  <div class="container-fluid elo-txtarea">
      <form>
        {{if ne .MenusData.ID 0}}
        <div class="form-group">
          <label for="elo-edit-id">Menu Entry ID</label>
          <input type="text" class="form-control" id="elo-edit-id" value="{{.MenusData.ID}}" disabled>
        </div>
        {{end}}
        <div class="form-group">
          <label for="elo-edit-parentid">Parent ID</label>
          <input type="text" class="form-control" id="elo-edit-parentid" aria-describedby="edit-parentid-help" value="{{.MenusData.ParentID}}" placeholder="Enter parent ID">
          <small id="edit-parentid-help" class="form-text text-muted">Choose parent menu object for this menu.</small>
        </div>
        <div class="form-group">
          <label for="elo-edit-label">Label</label>
          <input type="text" class="form-control" id="elo-edit-label" aria-describedby="edit-label-help" value="{{.MenusData.Text}}" placeholder="Enter text">
          <small id="edit-label-help" class="form-text text-muted">Edit the label (text) of menu entry</small>
        </div>
        <div class="form-group">
          <label for="elo-edit-href">Destination Path</label>
          <input type="text" class="form-control" id="elo-edit-href" aria-describedby="edit-href-help" value="{{.MenusData.Href}}" placeholder="Enter Path">
          <small id="edit-href-help" class="form-text text-muted">Path where this link is going to.</small>
        </div>

        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0" aria-describedby="edit-perm-help">Menu Permission</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" id="menu-perm-pub" value="1" {{if eq .MenusData.Permission 1}} checked {{end}} >
              <label class="form-check-label" for="menu-perm-pub">
                Public
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio"  id="menu-perm-client" value="2" {{if eq .MenusData.Permission 2}} checked {{end}}>
              <label class="form-check-label" for="menu-perm-client">
                Client
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="menu-perm-operator" value="4" {{if eq .MenusData.Permission 4}} checked {{end}}>
              <label class="form-check-label" for="menu-perm-operator">
                Admin
              </label>
            </div>
            <small id="edit-perm-help" class="form-text text-muted">Public is visible for everyone, client for both operator and client.</small>
    
          </div>
        </div>
                

        <div class="form-group">
          <button class="btn btn-primary" onclick="editmenu_submit();return false;">Submit</button> <i id="targetmenu"></i>
      </div>
    </form>
      {{end}}
  </div>
</div>
<p id="elo-login-ind"></p> <button id="elo-btn-logout" class="btn btn-primary" onclick="logout_submit()">Logout</button>
<form class="form-inline" id="elo-login-form">
  <input class="form-control mb-2 mr-sm-2" id="login_name" placeholder="username">
  <input type="password" class="form-control mb-2 mr-sm-2" id="login_secret" placeholder="password...">
  <button type="button" class="btn btn-primary mb-2 mr-sm-2" onclick="login_submit()">Login</button>
  <i id="targetlogin"></i>
</form>
<div class="container-fluid elo-footer rounded-bottom"><p align="center">Copyright 2020 by Elo psz</p></div>


<!-- Modal -->
<div class="modal fade" id="elo-confirm-delete" tabindex="-1" role="dialog" aria-labelledby="elo-confirm-delete-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="elo-confirm-delete-label">DELETE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body"> Are you sure to delete?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
        <a href="#delete" onclick="deluser_confirm()" id="delete" class="btn btn-primary">YES</a> </div>
    </div>
  </div>
</div>

  </body>
</html>